<div class="container custom-card" >
  <div class="row ">
    <div class="col-md-12 p-5">
      <h5 class="mt-3 mb-4 text-center">Teachers and Assigned Courses</h5>

      <table class="table table-bordered " style="color: aliceblue; ">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Teacher Email</th>
          </tr>
        </thead>
        <tbody>
          <% courses.forEach(course => { %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.code %></td>
            <td><%= course.teacher ?. email || 'N/A' %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
