<div class="container">
    <div class="row d-flex justify-content-center align-items-center"
        style="height: 81vh">
        <div class="col-lg-5 shadow py-md-5 bg-white px-md-5">
            
            <% if (message) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Error:</strong> <%= message %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
            <% } %>
            
            <h4 class="mb-3 text-center py-md-3">Admin Login (Click Login for test login)</h4>
            <hr />
            <form action="/admin-dashboard/login" method="post" class="form">
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" value="admin@gmail.com"
                        placeholder="Enter email" name="email" />
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="pwd"
                        placeholder="Enter password" name="pswd" value="123456" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        Log in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
