<style>
    @media only screen and (min-width: 992px) {
      .welcome-page{
      overflow-y:scroll ;
      height: 81vh;
    }
  }
  .welcome-page{
      overflow-y:scroll ;
      height: 50vh;
    }
  </style>

<div class="d-flex justify-content-center align-items-center welcome-page">
    <h3>Welcome to AMS</h3>
</div>