<div class="container" >
  <div class="row justify-content-center">
    <div class="col-md-11 section-common section-common-padding">
      <h4 class=" text-center mb-4">Choose a Course & Date</h4>

      <% if (courses.length > 0) { %>
        <form action="/attendance/slider" method="post">
          <div class="form-group">
            <label for="courses" class="form-label">Choose a course :</label>
            <select class="form-select" name="course_id">
              <% courses.forEach(course => { %>
                <option value="<%= course._id %>"><%= course.name %></option>
              <% }); %>
            </select>
          </div>

          <div class="form-group">
            <label for="date" class="form-label">Choose a Date</label>
            <input class="form-control" type="date" name="date" id="date" value="<%= new Date().toISOString().substr(0, 10) %>">
          </div>

          <div class="text-center"><button type="submit" class="btn btn-primary mt-3 px-4">Next</button></div>
        </form>
      <% } else { %>
        <p>You are not assigned to any course.</p>
      <% } %>
    </div>
  </div>
</div>

