<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-md-5 px-md-3 py-md-0 pe-md-5">

                <% if (error_message) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Error:</strong> <%= error_message %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                

                <div class="px-md-5 card py-md-3">
                    <h5 class="mb-0 text-center pb-md-3" style="padding: 23px 0px;"> Student Log In (Click Login to Test)</h5>
                    <form action="/" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="text" value="test@gmail.com" class="form-control" id="username" placeholder="Enter your email" name="email" aria-describedby="usernameHelp">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" value="1234" class="form-control" placeholder="Enter your password" id="password" name="pswd">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="mb-3 text-center">
                            <a href="#" class="text-decoration-none">Forgot Password?</a>
                        </div>
                    </form>
                    <div class="container text-end mt-4">
                        <a href="/teacher/login" class="btn btn-info text-white">Login as Teacher</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-5 card py-md-3 ps-md-5">
                <div class="py-md-3">
                    <img src="./attendance.jpg" alt="Login Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- Below Student Log In section, add a button for Teacher Log In -->
  
</body>
