<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 section-common section-common-padding">
        <div class="">
          <div class="">
            <h4 class="text-center py-4">Profile</h4>
          </div>
          <div class="card-body">
            <form action="/student/<%= student._id %>/update" method="POST">
              <img src="/uploads/<%= student.image %>" alt="hfdg">
              <div class="form-group">
                <label for="student_id">Student ID:</label>
                <p><%= student.student_id %></p>
              </div>
              <div class="form-group">
                <label for="name">Name:</label>
                <p><%= student.name %></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  