
<style>
   .content-height{
     height: 558px;
     overflow-x: auto;
   }
</style>

<h4 class="text-center pt-md-4 pb-md-2" >Teachers List</h4>

<div class="container content-height ">
  <div class="row justify-content-center ">
    <div class="col-lg-7 content-height px-md-5">
    
      <table class="table  table-bordered px-md-5" style="color: rgba(130, 132, 135, 0.964);">
        <thead>
          <tr>
            <th class="text-center">Teacher Email</th>
          </tr>
        </thead>
        <tbody>
          <% teachers.forEach(teacher => { %>
          <tr>
            <td class="text-center"><%= teacher.email %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>