
<style>
   .content-height{
     height: 600px;
     overflow-y: scroll;

   }
</style>

<h4 class="text-center mb-3" >Teachers List</h4>

<div class="container content-height">
  <div class="row justify-content-center ">
    <div class="col-md-6 content-height px-5">
    
      <table class="table  table-bordered " style="color: rgba(130, 132, 135, 0.964);">
        <thead>
          <tr>
            <th class="text-center">Teacher Email</th>
          </tr>
        </thead>
        <tbody>
          <% teachers.forEach(teacher => { %>
          <tr>
            <td class="text-center"><%= teacher.email %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>