<div class="container ">
      <div class="row d-flex justify-content-center align-items-center" style="height: 81vh;">
            <div class="col-lg-5 shadow py-md-5 bg-white px-md-5">
                  
                
                <% if (message) { %>
                  <div class="alert alert-danger alert-dismissible fade show">
                        <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="alert"
                        ></button>
                        <strong>Error!</strong>
                        <%= message %>
                  </div>
                  <% } %>
                  <p>
                        <!-- <b>teacher login info. for testing-</b>
                        <em>username:</em> <b>teacher1@gmail.com</b>
                        <em>password</em>:
                        <b>123456</b> -->
                  </p>
                  <h4 class="mb-3 text-center">Login</h4>
                  <hr />
                  <form action="/teacher/login" method="post" class="form">
                        <div class="mb-3">
                              <label for="email" class="form-label"
                                    >Email:</label
                              >
                              <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    placeholder="Enter email"
                                    name="email"
                                    value="teacher1@gmail.com"
                              />
                        </div>
                        <div class="mb-3">
                              <label for="pwd" class="form-label"
                                    >Password:</label
                              >
                              <input
                                    type="password"
                                    class="form-control"
                                    id="pwd"
                                    placeholder="Enter password"
                                    value="123456"
                                    name="pswd"
                              />
                        </div>
                        <div class="text-center">
                                    <button type="submit"
                                          class="btn  btn-primary">
                                          Log in
                                    </button>
                        </div>
                  </form>
            </div>
      </div>
</div>
