<style>
    .footer-container {
        width: 100%;
        background-color: #989898;
        box-shadow: 0 2px 4px rgba(46, 41, 41, 0.1);
    }

    .footer-text {
        color: #ffffff;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
</style>

<div class="container-fluid card">
    <div class="row">
        <div class="col-12 p-0">
            <div class="footer-container">
                <footer class="w-100 d-flex justify-content-center">
                    <p class="footer-text">Attendance Management System &copy;2023</p>
                </footer>
            </div>
        </div>
    </div>
</div>
