<style>
        .partial-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .partial-title {
            color: #276b93;
            font-size: 24px;
            margin-bottom: 20px;
        }
</style>

<div class="partial-container">
    <h3 class="partial-title">Attendance Management System 2019</h3>
</div>
