<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Dashboard</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .teacher-panel-left ul li {
      background-color: rgb(89, 89, 103);
      margin-bottom: 10px !important;
      color: white;
    }

    .teacher-panel-left ul li a {
      color: white;
      text-decoration: none;
    }

    .teacher-panel-left ul li:hover {
      background-color: rgb(109, 109, 123);
    }

    @media only screen and (min-width: 992px) {
      .teacher-panel-left {
        height: 91vh;
      }
    }

    /* New CSS for handling overflow */
    /* .overflow-container {
      overflow: auto;
    } */
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row align-items-center" style="background-color: #68D2E8; color: white;">
      <div class="col-9">
        <h6 class="py-3 text-center text-md-start">
          <span>Attendance Management System</span>
        </h6>
      </div>
      <div class="col-3 text-md-end text-center">
        <a class="btn btn-dark mt-2 mt-md-0" href="/students-dashboard/logout">Logout</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 teacher-panel-left" style="background-color: rgb(4, 3, 5);">
        <ul class="list-unstyled py-4 px-3 px-lg-0 text-center">
          <li class="py-2">
            <a href="/students-dashboard/courses">Courses</a>
          </li>
          <li class="py-2">
            <a href="/students-dashboard/attendances">Attendance</a>
          </li>
          <li class="py-2">
            <a href="/students-dashboard/students/<%= student_id%>/edit">Update Profile</a>
          </li>
          <li class="py-2">
            <a href="/students-dashboard/students/<%= student_id%>">Profile</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-9 "> <!-- Apply overflow:auto to handle overflow -->
        <%- body %>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
